[Desktop Entry]
Name=CodeDraw
Version=1.0.0
Comment=Qt Application for working with CNC equipment
Comment[ru]=Qt Приложение для управления ЧПУ оборудованием
GenericName=Application for working with CNC equipment
GenericName[ru]=Приложение для управления ЧПУ оборудованием
Type=Application
Exec=/usr/bin/codedraw
Icon=codedraw.png
Categories=Utility
Terminal=false
MimeType=image/jpeg;image/png;image/svg+xml;text/x.gcode;
